* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #002339;
    color: #fff;
}

h1 {
    text-align: center;
    position: relative;
    padding-bottom: 10px;
    color: #019f55;
}

h1::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 15%;
    width: 70%;
    border-bottom: 1px solid #fff;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 80vh;
    justify-content: center;
    align-items: center;
    margin: 3% auto;
    width: 50%;
    max-width: 500px;
    border-radius: 20px;
    max-height: 100vh;
    text-align: center;
    border: 5px solid #3498db;
    position: relative;
    animation: pulsate 2s infinite;

}

.container label {
    flex-direction: column;
    font-size: 1.1rem;
    font-weight: 700;
    text-align: center;
    margin: 8px 0 5px 0;
    flex-wrap: wrap;

}

.container input {
    width: 70%;
    border-radius: 10px;
    font-size: 1rem;
    padding: 10px;
    border: none;
    outline: none;
    border: 1px solid #019f55;
    margin: 10px auto;
    color: #fff;
    flex-wrap: wrap;


}

.container .city {
    width: 70%;
    border-radius: 10px;
    font-size: 1rem;
    padding: 10px;
    border: none;
    outline: none;
    border: 1px solid#019f55;
    margin: 6px auto;
    color: #fff;
    background: #002339;
    flex-wrap: wrap;


}

.btn {
    border: 0;
    outline: 0;
    background: #019f55;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    display: flex;
    border-radius: 10px;
    cursor: pointer;
    width: 40%;
    margin-top: 10px;
}

.btn:hover {
    background-color: #45a049;

}

.user-container {
    width: 80%;
    margin: 20px auto;
    color: #000;
}

td input {
    border: none;
    outline: none;
    text-align: center;
    padding: 8px auto;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 16px;
    font-size: 1.2rem;


}

td select {
    border: none;
    outline: none;
    text-align: center;
    padding: 8px auto;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 16px;
    background: #002339;
    font-size: 1.2rem;


}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border-radius: 15px;

}

th,
td {
    border: 1px solid#2ecc71;
    padding: 8px auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}


th {
    background-color: #f2f2f2;
    text-align: center;
}

tr td {
    color: #fff;
}



.btn-primary {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1.2rem;
}

.btn-primary:hover {
    background-color: #45a049;
}

@keyframes pulsate {
    0% {
        box-shadow: 0 0 0 0 rgba(52, 152, 219, 0.7);
        border-color: #3498db;

    }

    70% {
        box-shadow: 0 0 20px 20px rgba(52, 152, 219, 0);
        border-color: #e74c3c;

    }

    100% {
        box-shadow: 0 0 0 0 rgba(52, 152, 219, 0);
        border-color: #3498db;


    }
}